# Default ignored files
/shelf/
/workspace.xml
src/lesson5/BitwiseExample.java
src/lesson5/ConditionExample.java
src/lesson5/LogicalExample.java
src/lesson5/MathExampe.java
src/lesson5/RelationExample.java
src/lesson5/SwitchExample.java
idea/.gitignore